# Data Types and Structures

1. What are data structures, and why are they important ?
   - Data structures are ways of organizing, storing, and processing data in a computer so it can be accessed and modified efficiently. They are important because they improve a program's performance by reducing the time and memory needed for operations, and they form the foundation for creating efficient algorithms.
2. Explain the difference between mutable and immutable data types with examples.
   - Mutable data types can be changed after they are created, while immutable data types cannot. For example, a mutable list can have its elements modified, whereas an immutable string will create a new string if you try to change a character. Common examples of mutable types include lists, dictionaries, and sets, while common examples of immutable types include strings, tuples, and integers.

Mutable data types
  - Definition: The contents or state of a mutable object can be altered after it has been created.
   - Example: Modifying a list in place.
my_list = [1, 2, 3]
my_list[0] = 10 # The list is modified directly
print(my_list) # Output: [10, 2, 3]
Examples in Python:
Lists
Dictionaries
Sets

Immutable data types

- Definition: The value of an immutable object cannot be changed once it is created. Any operation that appears to change it actually creates a new object.
- Example: Changing a string.
my_string = "hello"
new_string = my_string.upper() # This creates a new string object
print(my_string) # Output: "hello" (the original string is unchanged)
print(new_string) # Output: "HELLO" (the new string object)

3. What are the main differences between lists and tuples in Python ?
   - The main difference is that lists are mutable (changeable) and tuples are immutable (unchangeable). This means lists can be modified after creation (adding, removing, or changing elements), while tuples cannot. Lists are written with square brackets [] and tuples with parentheses ().

4.  Describe how dictionaries store data.
    - Dictionaries store data as key-value pairs, where a unique, immutable key is used to directly access its associated value.

5. Why might you use a set instead of a list in Python ?
   - You would use a set instead of a list in Python for efficient membership testing, removing duplicates, and performing set operations like union or intersection. A list is better when you need to maintain order or allow duplicate entries.
  
6. What is a string in Python, and how is it different from a list ?
   - In Python, a string is an immutable sequence of characters, used to represent text. Strings are enclosed in either single quotes (') or double quotes (")

  my_string = "Hello, Python!"
  
  another_string = 'This is a string.'

   - A list in Python is a mutable, ordered sequence of items, where each item can be of any data type. Lists are enclosed in square brackets ([]), and their elements are separated by commas.
   
my_list = [1, 2, "three", True]

another_list = ["apple", "banana", "cherry"]

7. How do tuples ensure data integrity in Python ?
   - Tuples ensure data integrity in Python by being immutable, meaning their contents cannot be changed after creation.
8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that uses a hash function to map keys to values, enabling fast data retrieval. In Python, the built-in dictionary data type is an implementation of a hash table, where keys are hashed to find their corresponding values in an array-like structure.
9.  Can lists contain different data types in Python ?
    - Yes, Python lists can contain different data types, such as integers, strings, floats, booleans, and even other lists or objects, all in the same list. This makes Python lists very flexible, unlike the array module which is used to create arrays with only one type of element.
10. Explain why strings are immutable in Python.
    - Strings are immutable in Python because their contents cannot be changed after creation; instead, operations that appear to modify a string actually create a new string object in memory.
11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries offer faster data retrieval and lookups than lists when searching by a unique key, as they use a hash-based system for constant-time access O(1). They are also more suitable for managing data where relationships between pieces of information are key, such as associating a name with a phone number, because of their key-value pair structure. In contrast, lists are better when the order of elements is critical or when sequential access is needed.
12. Describe a scenario where using a tuple would be preferable over a list.
    - A scenario where using a tuple would be preferable over a list is when representing fixed, immutable data that should not be changed after creation.
13. How do sets handle duplicate values in Python?
    - Python sets automatically handle duplicate values by rejecting any attempt to add a value that is already present, ensuring that each element in a set is unique. When you create a set from an iterable that contains duplicates, the duplicates are discarded during the creation process.
14. How does the “in” keyword work differently for lists and dictionaries?
    - The in keyword checks for membership in both lists and dictionaries, but it checks different things by default: for lists, it checks for the existence of a specific value among its elements, while for dictionaries, it checks for the existence of a specific key.
15. Can you modify the elements of a tuple? Explain why or why not.
    - No, you cannot directly modify the elements of a tuple because tuples are immutable. This means that once a tuple is created, its elements, order, and size cannot be changed, added, or removed. Any attempt to change an element will result in a TypeError.
16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary is a dictionary where the value of a key is another dictionary. This allows for the creation of hierarchical data structures, making them useful for organizing complex, related information, such as employee records within a company or student details within a school.
17. Describe the time complexity of accessing elements in a dictionary.
    - The average time complexity for accessing elements in a dictionary is O(1), or constant time, because dictionaries use hash tables for efficient lookups. In the worst-case scenario, where many hash collisions occur, the time complexity can degrade to O(n), where 'n' is the number of elements in the dictionary. However, this worst-case is very rare in practice.
18. In what situations are lists preferred over dictionaries?
    - Lists are preferred over dictionaries when the order of items is important, you need to store duplicate values, or you need to access items by their sequential position (index).
19.  Why are dictionaries considered unordered, and how does that affect data retrieval ?
     - Dictionaries are considered unordered because they store data as key-value pairs without a defined sequence, meaning there is no guaranteed order for the elements, and you cannot access them by numerical index like a list.
20.  Explain the difference between a list and a dictionary in terms of data retrieval.
      - The fundamental difference between a list and a dictionary, in terms of data retrieval, lies in their indexing mechanisms and the resulting efficiency of access.

Lists:
- Indexing: Lists are ordered collections, and elements are retrieved using zero-based integer indices.

- Retrieval Process: To find an element by its value, a list typically requires a linear scan (iterating through elements one by one) until the desired value is found. This means the time taken to find an element can increase proportionally with the size of the list.

- Efficiency: Accessing an element at a known index is very efficient (constant time, O(1)). However, searching for an element by value can be less efficient (linear time, O(n)).

Dictionaries:

- Indexing: Dictionaries are unordered collections of key-value pairs. Elements are retrieved using unique, immutable keys.

- Retrieval Process: Dictionaries utilize a hash-based mechanism. When a key is provided, a hash function quickly determines the memory location where the corresponding value is stored. This allows for very fast lookups.

- Efficiency: Retrieval of values by their associated keys is highly efficient, typically operating in average-case constant time (O(1)), regardless of the dictionary's size. This makes dictionaries ideal for scenarios requiring quick lookups based on a specific identifier.

In summary:

- Lists excel at ordered access and retrieval by numerical position.
Dictionaries excel at fast retrieval of values based on unique, descriptive keys.

In [1]:
 # 1. Write a code to create a string with your name and print it.
name = "Atanu Das"
print(name)

Atanu Das

In [2]:
# 2. Write a code to find the length of the string "Hello World".
text = "Hello World"
length = len(text)
print(length)

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
slice_text = text[:3]
print(slice_text)

Pyt

In [4]:
# 4. Write a code to convert the string "hello" to uppercase.
text = "hello"
upper_text = text.upper()
print(upper_text)

HELLO

In [5]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [6]:
# 6.Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [8]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [9]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [10]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [11]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [12]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print(second_last)

blue

In [13]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
minimum_value = min(numbers)
print(minimum_value)

5

In [14]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index("cat")
print(index_of_cat)

1

In [15]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "mango")
if "kiwi" in fruits:
    print("Kiwi is present")
else:
    print("Kiwi is not present")

Kiwi is not present

In [16]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
letters = {'a', 'b', 'c'}
print(letters)

{'b', 'c', 'a'}

In [17]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [18]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [19]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [20]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [21]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {
    "name": "Atanu",
    "age": 20,
    "city": "Kolkata"
}

print(person)

{'name': 'Atanu', 'age': 20, 'city': 'Kolkata'}

In [22]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
value = person['name']
print(value)

Alice

In [24]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [25]:
#25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
if "city" in person:
    print("City key exists")
else:
    print("City key does not exist")

City key exists

In [26]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4, 5]
my_tuple = ("apple", "banana", "mango")
my_dict = {"name": "Atanu", "age": 20, "city": "Kolkata"}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'mango')
Dictionary: {'name': 'Atanu', 'age': 20, 'city': 'Kolkata'}

In [27]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[13, 36, 55, 56, 80]

In [28]:
#28. Write a code to create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "mango", "orange"]
print(words[3])

mango

In [29]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"name": "John", "age": 25}
dict2 = {"city": "London", "country": "UK"}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'John', 'age': 25, 'city': 'London', 'country': 'UK'}

In [30]:
#30.  Write a code to convert a list of strings into a set.
words = ["apple", "banana", "cherry", "apple"]
word_set = set(words)
print(word_set)

{'cherry', 'apple', 'banana'}